.inner {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.user-list {
  margin: 30px auto 0;
  background: #c4f6ff;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.user {
  background: #a5cfff;
  margin: 60px 0;
  padding: 30px;
}
