main ul li a{
    display: block;
    width: 300px;
    height: 100px;
    background-color: #7fffd4;
    color: #000;
    
    border-radius: 25px;
    
    font-size: 30px;
    
    text-align: center;
    align-content: center;

    transition: 0.3s;
}
main ul li a:hover{
    transform: scale(1.2);
    background-color: #00ffaa;
}
main ul li:nth-child(2) a:hover{
    transform: rotate(360deg) scale(1.2);
}