ul{
    list-style: none;
}

p, main li{
    color: gray;
}
section{
    margin-top: 20px;
}

.mySwiper{
    margin-top: 20px;
    width: 90%;
    border-radius: 25px;
    height: 200px;
    border: 1px solid #b1bfcc;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.swiper-wrapper{
    display: flex;
}
.swiper-slide .sub-title{
    font-size: 30px;
    color: #000;   
    font-weight: 700;
}
#container {
    height: 400px;
    margin: 0 auto;
    width: 1000px;
    background-color: #ff00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 25px;
    transition: 0.3s;
}
h1 {
    color:#fff;
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.418);
}
.btn-wrap a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    margin: 0 -2px;
}
.btn-wrap a.play{
    background-color: #000;
}
.btn-wrap a.stop{
    background-color: rgb(131,131,131);
}