* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    text-align: center;
}

header .inner nav ul{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
header .inner h1{
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: 700;
}
header .inner ul{
    margin-bottom: 24px;
}
header .inner ul li a{
    display: block;
    width: 100px;
    height: 40px;
    background-color: lightgray;
    font-weight: 500;
    border-radius: 25px;
    
    color: black;
    
    text-align: center;
    align-content: center;
    
    transition: 0.3s;
}

header .inner ul li a:hover{
    background-color: gray;
    color: white;
}

main {
    text-align: center;
  margin: auto;
  max-width: 1200px;
  padding: 100px 0;
  background-color: aliceblue;
  min-height: 100vh;
}

main ul{
    margin-top: 24px;
    display: flex;
    gap: 36px;
    justify-content: center;
}
