* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin: auto;
  max-width: 1200px;
  padding: 100px 0;
  background-color: aliceblue;
  min-height: 100vh;
}
li{
    list-style: none;
}
a{
  text-decoration: none;
}
header {
  text-align: center;
}

main ul{
    display: flex;
    gap: 12px;
}
main ul li a{
    display: block;
    width: 300px;
    height: 300px;
    background-color: aquamarine;

    font-size: 24px;

    text-align: center;
    align-content: center;
}