*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: auto;
    max-width: 1200px;
    padding: 100px 0;
    background-color: aliceblue;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
header{
    text-align: center;
}

